h1 {
    font-size: 32px;
    font-weight: bold;
    color: rgba(#d3c0af, 0.7);
    text-transform: uppercase;
}
h2 {
    font-weight: bold;
    font-size: 26px;
    color: rgba(#3a3b3c, 0.8);
    margin-bottom: 10px;
}
// h3 {
//     font-size: 32px;
// }
// h4 {
//     font-size: 32px;
// }
// h5 {
//     font-size: 32px;
// }
p {
    font-size: 18px;
    color: #585653;
    margin: 0;
}
